<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- import CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .main {
        height: 100vh;
        min-width: 800px;
        min-height: 600px;
        overflow: hidden;
      }
      aside {
        overflow: visible;
        height: 100%;
        background-color: #545c64;
        color: #fff;
      }
      .isClossTab {
        width: 100%;
        height: 60px;
        cursor: pointer;
        font-size: 25px;
        text-align: center;
        line-height: 60px;
        font-weight: bold;
        border-right: 1px solid #807c7c;
        box-sizing: border-box;
      }
      .menu {
        width: 100%;
        border-right: 0;
      }

      .main-header {
        background-color: #545c64;
        color: #fff;
      }
      .el-dropdown {
        cursor: pointer;
        float: right;
      }
      .el-dropdown-link img {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: #fff;
        margin-top: 5px;
      }

      .crumbs {
        margin-bottom: 20px;
      }
      .main-footer {
        text-align: center;
        background-color: #545c64;
        color: #fff;
        line-height: 50px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div>
        <el-container class="main">
          <!-- aside -->
          <el-aside :width="tabWidth+'px'">
            <div>
              <!-- 收缩按钮 -->
              <div class="isClossTab" @click="isClossTabFun">
                <i
                  :class="isCollapse?'el-icon-d-arrow-right':'el-icon-d-arrow-left'"
                ></i>
              </div>
              <!-- menu -->
              <el-menu
                :class="'menu'"
                default-active="1-4-1"
                class="el-menu-vertical-demo"
                @open="handleOpen"
                @close="handleClose"
                :collapse="isCollapse"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b"
              >
                <el-submenu index="1">
                  <template slot="title">
                    <i class="el-icon-location"></i>
                    <span slot="title">导航一</span>
                  </template>
                  <el-menu-item-group>
                    <span slot="title">分组一</span>
                    <el-menu-item index="1-1">选项1</el-menu-item>
                    <el-menu-item index="1-2">选项2</el-menu-item>
                  </el-menu-item-group>
                  <el-menu-item-group title="分组2">
                    <el-menu-item index="1-3">选项3</el-menu-item>
                  </el-menu-item-group>
                  <el-submenu index="1-4">
                    <span slot="title">选项4</span>
                    <el-menu-item index="1-4-1">选项1</el-menu-item>
                  </el-submenu>
                </el-submenu>
                <el-menu-item index="2">
                  <i class="el-icon-menu"></i>
                  <span slot="title">导航二</span>
                </el-menu-item>
                <el-menu-item index="3">
                  <i class="el-icon-setting"></i>
                  <span slot="title">导航三</span>
                </el-menu-item>
              </el-menu>
            </div>
          </el-aside>
          <!-- right -->
          <el-container>
            <!-- header -->
            <el-header class="main-header">
              <el-dropdown>
                <span class="el-dropdown-link">
                  <img
                    src="http://i1.hdslb.com/bfs/face/ea417a3c3879574ce7f49e023eb627365105b8dc.jpg"
                    alt=""
                  />
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item>个人中心</el-dropdown-item>
                  <el-dropdown-item>消息通知</el-dropdown-item>
                  <el-dropdown-item>退出登录</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </el-header>
            <!-- 面包削 -->
            <el-main>
              <el-breadcrumb separator="/" class="crumbs">
                <el-breadcrumb-item :to="{ path: '/' }"
                  >首页</el-breadcrumb-item
                >
                <el-breadcrumb-item>活动管理</el-breadcrumb-item>
                <el-breadcrumb-item>活动列表</el-breadcrumb-item>
                <el-breadcrumb-item>活动详情</el-breadcrumb-item>
              </el-breadcrumb>
              <!-- context -->
              <div>
                <el-row>
                  <el-button>默认按钮</el-button>
                  <el-button type="primary">主要按钮</el-button>
                  <el-button type="success">成功按钮</el-button>
                  <el-button type="info">信息按钮</el-button>
                  <el-button type="warning">警告按钮</el-button>
                  <el-button type="danger">危险按钮</el-button>
                </el-row>
                <br>

                <el-row>
                  <el-button plain>朴素按钮</el-button>
                  <el-button type="primary" plain>主要按钮</el-button>
                  <el-button type="success" plain>成功按钮</el-button>
                  <el-button type="info" plain>信息按钮</el-button>
                  <el-button type="warning" plain>警告按钮</el-button>
                  <el-button type="danger" plain>危险按钮</el-button>
                </el-row>
                <br>

                <el-row>
                  <el-button round>圆角按钮</el-button>
                  <el-button type="primary" round>主要按钮</el-button>
                  <el-button type="success" round>成功按钮</el-button>
                  <el-button type="info" round>信息按钮</el-button>
                  <el-button type="warning" round>警告按钮</el-button>
                  <el-button type="danger" round>危险按钮</el-button>
                </el-row>
                <br>

                <el-row>
                  <el-button icon="el-icon-search" circle></el-button>
                  <el-button
                    type="primary"
                    icon="el-icon-edit"
                    circle
                  ></el-button>
                  <el-button
                    type="success"
                    icon="el-icon-check"
                    circle
                  ></el-button>
                  <el-button
                    type="info"
                    icon="el-icon-message"
                    circle
                  ></el-button>
                  <el-button
                    type="warning"
                    icon="el-icon-star-off"
                    circle
                  ></el-button>
                  <el-button
                    type="danger"
                    icon="el-icon-delete"
                    circle
                  ></el-button>
                </el-row>
                <br>

                <el-time-select
                  v-model="value"
                  :picker-options="{
                    start: '08:30',
                    step: '00:15',
                    end: '18:30'
                  }"
                  placeholder="选择时间"
                >
                </el-time-select>
                <br>

                <el-form :inline="true" :model="formInline" class="demo-form-inline">
                  <el-form-item label="审批人">
                    <el-input v-model="formInline.user" placeholder="审批人"></el-input>
                  </el-form-item>
                  <el-form-item label="活动区域">
                    <el-select v-model="formInline.region" placeholder="活动区域">
                      <el-option label="区域一" value="shanghai"></el-option>
                      <el-option label="区域二" value="beijing"></el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="onSubmit">查询</el-button>
                  </el-form-item>
                </el-form>
              </div>
            </el-main>
            <!-- fotter -->
            <el-footer class="main-footer" height="50px">
              <p>ROMA se20.0.c</p>
            </el-footer>
          </el-container>
        </el-container>
      </div>
    </div>
  </body>

  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

  <!-- default -->
  <script>
    new Vue({
      el: "#app",
      data: function () {
        return {
          visible: false,
          isCollapse: false,
          tabWidth: 200,
          test1: 1,
          intelval: null,
          value:'',
          formInline: {
            user: '',
            region: ''
          }
        };
      },
      methods: {
        handleOpen(key, keyPath) {
          console.log(key, keyPath);
        },
        handleClose(key, keyPath) {
          console.log(key, keyPath);
        },
        isClossTabFun() {
          clearInterval(this.intelval);
          if (!this.isCollapse) {
            this.intelval = setInterval(() => {
              if (this.tabWidth <= 64) clearInterval(this.intelval);
              this.tabWidth -= 1;
            }, 1);
          } else {
            this.tabWidth = 200;
          }
          this.isCollapse = !this.isCollapse;
        },
        onSubmit() {
          console.log('submit!');
        }
      },
    });
  </script>
</html>
